header *{
    text-decoration: none;
    font-family: 'Teko', sans-serif;
    font-size: 35px;	
    background-color: none;
    position: flex;
    top: 0;
    left: 0;
    right: 0;
    height: 80px;
	display: inline;
    align-items: center;
    padding: 5px;
    color: white;
}

body{
    background-image: url("start.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    }

#Start{
    font-size: 35px;
    color: white;
    font-family: 'Adamina', serif;
    text-align: center;
    padding-top: 25px;
}

#text{
    font-size: 25px;
    color: white;
    font-family: 'Adamina', serif;
    text-align: center;
    padding-top: 75px;
    padding-right: 500px;
    padding-left: 500px;
}

#fyranollfyra{
    background-image: url("404.JPG");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    }

@media only screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:landscape) {
    #text{
        font-size: 15px;
        padding-top: 50px;
        padding-left: 50px;
        padding-right: 50px;   
    }
}

@media only screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:portrait) {
    #text{
        font-size: 15px;
        padding-left: 50px;
        padding-left: 50px;
        padding-right: 50px;
    }
}

@media only screen and (max-width: 500px) {
    #text{
	font-size: 15px;
        padding-left: 10px;
        padding-right: 10px;
    }
}

