header *{
    text-decoration: none;
    font-family: 'Teko', sans-serif;
    font-size: 35px;	
    background-color: none;
    position: flex;
    top: 0;
    left: 0;
    right: 0;
    height: 80px;
	display: inline;
    align-items: center;
    padding: 5px;
    color: white;
}
body{
background-image: url("start.png");
background-size: cover;
background-position: center;
background-repeat: no-repeat;
background-attachment: fixed;
}

#mer-kommer-snart{
    font-size: 50px;
    color: white;
    font-family: 'Teko', sans-serif;
    text-align: center;
}


